{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:vitest/recommended",
    "prettier",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    //  Don't use `webextensions` because it enables the browser global.
    // We want to use globalThis.browser instead:
    // ref: https://github.com/mozilla/webextension-polyfill/pull/351
    "webextensions": false,
  },
  "rules": {
    "react-hooks/exhaustive-deps": "error",
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
  },
}
